<main ng-controller="authController" id="register">
    <div id="register-messages">
        <span ng-show="submitted">{{formError}}</span>
        <span ng-show="registerForm.password.$touched">{{formValidate(credentials)}}</span>
        <span ng-show="registerForm.name.$touched && registerForm.name.$pristine">Name is required</span>
        <span ng-show="registerForm.email.$touched && registerForm.email.$pristine">Email is required</span>
        <span ng-show="registerForm.email.$touched && registerForm.email.$invalid && !registerForm.email.$pristine">Email is invalid</span>
    </div>
	<div id="register-header">
		<h1>Register for Acquibase</h1>
		<h6>Already have an account? Login Here.</h6>
	</div>
	<form ng-submit="regSubmit()" method="POST" name="registerForm">
		<a href="/login/twitter" target="_self"><div id="register-twitter"></div></a>
		<div id="register-google"></div>
		<span id="register-separator">or</span>
		<div class="form-group">
            <input ng-model="credentials.name" type="text" class="form-control" name="name" placeholder="Your Name" required>
        </div>
        <div class="form-group">
            <input ng-model="credentials.email" type="email" class="form-control" name="email" placeholder="Your Email" required>
        </div>
        <div class="form-group">
            <input ng-model="credentials.password" type="password" class="form-control" name="password" placeholder="Your Password" required>
        </div>
        <div class="form-group">
            <input ng-model="credentials.verifyPassword" type="password" class="form-control" name="verifyPassword" placeholder="Retype Password" required>
        </div>
        <button type="submit" ng-disabled="registerForm.$invalid || passwordNoMatch" ng-click="submitted = true">Register</button>
    </form>
</main>