doctype html
html
	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width')
		title 
		link(href='css/style.css' , rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900|family=Poppins:700' , rel='stylesheet')
		base(href='/')
	body(ng-app='acquibaseApp' , ng-controller='dataRestrictController')
		nav
			section#nav-container
				div#nav-brand
					a(href='/')
						svg(width='116px' , height='27px' , viewBox='0 0 116 27' , version='1.1' , xmlns='http://www.w3.org/2000/svg' , xmlns:xlink='http://www.w3.org/1999/xlink')
							desc Acquibase Logo
							defs
							g(stroke='none' , stroke-width='1' , fill='none' , fill-rule='evenodd')#Symbols
								g(transform='translate(-367.000000, -12.000000)' , fill='#FFFFFF')#Nav
									g#Group
										g(transform='translate(367.000000, 12.000000)')
											path(d='M36.9704199,18.4 L34.4360059,18.4 L37.5114746,8.68237305 L40.6652539,8.68237305 L43.7193652,18.4 L40.9927344,18.4 L40.4374414,16.2927344 L37.5399512,16.2927344 L36.9704199,18.4 Z M39.0634473,10.9035449 L38.9424219,10.9035449 L37.988457,14.4631152 L39.9960547,14.4631152 L39.0634473,10.9035449 Z M47.2362207,13.0392871 C47.2362207,11.4445996 47.8911816,10.604541 48.9448145,10.604541 C49.9913281,10.604541 50.5323828,11.416123 50.5323828,12.377207 L52.9600098,12.377207 L52.9600098,12.0568457 C52.9600098,9.99941406 51.351084,8.51151367 48.923457,8.51151367 C46.189707,8.51151367 44.6306152,10.2557031 44.6306152,13.0392871 L44.6306152,14.0573242 C44.6306152,16.8480273 46.1825879,18.5708594 48.9163379,18.5708594 C51.3795605,18.5708594 52.9600098,17.0758398 52.9600098,15.0824805 L52.9600098,14.7478809 L50.5323828,14.7478809 C50.5323828,15.7089648 49.9984473,16.477832 48.9519336,16.477832 C47.8840625,16.477832 47.2362207,15.66625 47.2362207,14.0644434 L47.2362207,13.0392871 Z M54.341123,14.0715625 L54.341123,13.0392871 C54.341123,10.298418 56.0425977,8.51151367 58.7549902,8.51151367 C61.474502,8.51151367 63.1617383,10.3197754 63.1617383,13.0392871 L63.1617383,14.0715625 C63.1617383,15.5309863 62.6776367,16.7127637 61.8019824,17.5029883 L62.9339258,19.2471777 L60.5490137,19.2471777 L60.0008398,18.4071191 C59.6235254,18.5139062 59.196377,18.5708594 58.7549902,18.5708594 C56.0425977,18.5708594 54.341123,16.7910742 54.341123,14.0715625 Z M56.8328223,13.0179297 L56.8328223,14.1285156 C56.8328223,15.8299902 57.5874512,16.677168 58.6695605,16.7198828 C58.7621094,16.7198828 58.8404199,16.7056445 58.9187305,16.6700488 L58.035957,15.3031738 L60.1645801,15.3031738 L60.3781543,15.5950586 C60.563252,15.2177441 60.6700391,14.7336426 60.6700391,14.1285156 L60.6700391,13.0179297 C60.6700391,11.3947656 59.8726953,10.554707 58.7549902,10.554707 C57.630166,10.554707 56.8328223,11.3947656 56.8328223,13.0179297 Z M67.397627,8.68237305 L64.8489746,8.68237305 L64.8489746,15.0326465 C64.8489746,17.1755078 66.4436621,18.5708594 68.9923145,18.5708594 C71.5338477,18.5708594 73.1356543,17.182627 73.1356543,15.0397656 L73.1356543,8.68237305 L70.587002,8.68237305 L70.587002,14.7122852 C70.587002,15.8869434 69.9249219,16.4564746 68.9923145,16.4564746 C68.0525879,16.4564746 67.397627,15.9011816 67.397627,14.7122852 L67.397627,8.68237305 Z M77.7559766,18.4 L77.7559766,8.68237305 L75.2073242,8.68237305 L75.2073242,18.4 L77.7559766,18.4 Z M79.9344336,18.4 L79.9344336,8.68237305 L84.3625391,8.68237305 C86.1636816,8.68237305 87.395293,9.5509082 87.395293,11.0672852 C87.395293,12.3487305 86.5409961,13.0250488 85.6297461,13.1816699 L85.6297461,13.2955762 C86.690498,13.3596484 87.8437988,14.0929199 87.8437988,15.6377734 C87.8437988,17.4317969 86.2989453,18.4 84.4693262,18.4 L79.9344336,18.4 Z M82.4546094,10.4479199 L82.4546094,12.5907813 L83.5224805,12.5907813 C84.4764453,12.5907813 84.917832,12.1422754 84.917832,11.5086719 C84.917832,10.8465918 84.4408496,10.4479199 83.6933398,10.4479199 L82.4546094,10.4479199 Z M82.4546094,14.1783496 L82.4546094,16.6344531 L83.6435059,16.6344531 C84.6900195,16.6344531 85.2595508,16.1930664 85.2595508,15.4099609 C85.2595508,14.655332 84.7540918,14.1783496 83.800127,14.1783496 L82.4546094,14.1783496 Z M91.1613184,18.4 L88.6269043,18.4 L91.702373,8.68237305 L94.8561523,8.68237305 L97.9102637,18.4 L95.1836328,18.4 L94.6283398,16.2927344 L91.7308496,16.2927344 L91.1613184,18.4 Z M93.2543457,10.9035449 L93.1333203,10.9035449 L92.1793555,14.4631152 L94.1869531,14.4631152 L93.2543457,10.9035449 Z M98.7218457,15.516748 C98.7432031,16.9476953 99.6900488,18.5708594 102.722803,18.5708594 C105.364004,18.5708594 106.787832,17.2894141 106.787832,15.3886035 C106.787832,13.4949121 105.47791,12.8043555 104.096797,12.5551855 L102.74416,12.2988965 C101.91834,12.1493945 101.448477,11.8646289 101.448477,11.3734082 C101.448477,10.803877 101.911221,10.3980859 102.779756,10.3980859 C103.769316,10.3980859 104.23918,10.9676172 104.274775,11.5086719 L106.609854,11.5086719 C106.595615,9.89262695 105.257217,8.50439453 102.786875,8.50439453 C100.537227,8.50439453 98.9140625,9.61498047 98.9140625,11.5798633 C98.9140625,13.3098145 100.067363,14.0929199 101.555264,14.3848047 L102.865186,14.6482129 C103.790674,14.8333105 104.281895,15.0824805 104.281895,15.6520117 C104.281895,16.221543 103.82627,16.6558105 102.808232,16.6558105 C101.733242,16.6558105 101.17083,16.0933984 101.135234,15.516748 L98.7218457,15.516748 Z M115.159941,16.3995215 L111.03084,16.3995215 L111.03084,14.4417578 L114.896533,14.4417578 L114.896533,12.6050195 L111.03084,12.6050195 L111.03084,10.6828516 L115.159941,10.6828516 L115.159941,8.68237305 L108.510664,8.68237305 L108.510664,18.4 L115.159941,18.4 L115.159941,16.3995215 Z')#ACQUIBASE
											rect(x='0' , y='0' , width='27.2410714' , height='27' , rx='1.62')#Rectangle-8
				div#nav-navigation
					ul
						li: a(href='/Microsoft') Company Profiles
						li: a(href='/compare') Compare Data
						li: a(href='/search') Search
						li: a(href='/contact') Contact
		main#company
			section.container
				div#company-info
					div#company-numbers
						div#company-facts
							h1#company-name {{thisCompany.name}} {{thisCompany.incorporated}}
							h6#company-industry {{thisCompany.industry}}
							h6#company-location {{thisCompany.location}}
							h2#historical-acquisitions Historical Acquisitions
							h5#chart-description Click on each data point to see more information
						div#company-finance
							span#company-valuation
								h1 {{thisCompany.stock.marketCap | wordifyValuation}}
								span Valuation
							hr
							span {{acquiPriceHistory | wordifyValuation}} spent in {{}} Years
								br
								| on {{thisCompany.acquisition.length}} Acquisitions + 
								br
								| {{undisclosed.length}} Undisclosed Deals
					div#company-acquisition-graph
					div#lower-data-container
						div#company-stock-graph
							h1 Stock Data
							h6 Full publically traded history
							h4 Dots represent acquisitions and distance to graph represent value
						div#company-recent-acqusitions
							h1 Recent Acquisitions
							div(ng-repeat='company in thisCompany.acquisition')#acquisition-list
								update-card
				div#company-prediction
					h1 Data Analysis
					div#prediction-container
						div#predictions
						div#historical-data
						div#upcoming-prediction

		section#full-acquisition-list
			div.container
				h1 Full Acquisition List
				div(ng-repeat='company in thisCompany.acquisition')#acquisition-list
					update-card
		footer
		script(defer src='libs/angular/angular.js')
		script(defer src='js/app.js')
		script(defer src='js/filters.js')
		script(defer src='js/directives/graphcard.js')
		script(defer src='js/directives/homeupdaterow.js')
		script(defer src='js/controllers/acquibaseController.js')
		script(defer src='js/services/acquibaseFactory.js')
