doctype html
html
	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible' , content='IE=edge')
		meta(name='viewport' , content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width')
		title 
		link(href='css/style.css' , rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900' , rel='stylesheet')
	body
		nav
			section#nav-container
				div#nav-brand
					span
						a(href='/') Acquibase
				div#nav-navigation
					ul
						li 
							a(href='/Microsoft') Company Profiles
						li 
							a(href='/compare') Compare Data
						li 
							a(href='/search') Search
						li 
							a(href='/contact') Contact
		main#company
			section.container
				div#company-info

				div#company-prediction
					h1 Data Analysis
					div#prediction-container
						div#predictions
						div#historical-data
						div#upcoming-prediction

		section#full-acquisition-list
			div.container
				h1 Full Acquisition List
		footer
