.container {
  margin: auto;
  width: 1200px;
  position: relative;
}
.white-card-style {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
.dark-card-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
}
.dark-graph-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
.disable-scroll {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #191919;
}
a {
  color: #FFF;
  text-decoration: none;
}
#search-bar input {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 99999;
}
#search-bar #lightbox {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  opacity: .9;
}
#search-bar .container {
  position: relative;
}
#search-bar .container #search-container {
  z-index: 99999;
  position: absolute;
  margin: 19px 0 19px 0;
  display: inline-block;
  justify-content: left;
  flex-wrap: wrap;
}
#search-bar .container #search-container div {
  display: inline-block;
}
#search-bar .container #search-container div .search-card {
  width: 252.5px;
  height: 226px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
}
#search-bar .container #search-container div .search-card section {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#search-bar .container #search-container div .search-card section #search-company-link {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 0 15px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#search-bar .container #search-container div .search-card section #search-company-top {
  width: 100%;
  height: 33%;
}
#search-bar .container #search-container div .search-card section #search-company-top h3 {
  font-size: 10px;
  font-weight: 800;
  float: right;
}
#search-bar .container #search-container div .search-card section #search-company-info {
  text-align: center;
  height: 33%;
}
#search-bar .container #search-container div .search-card section #search-company-info h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 0 0;
  line-height: 30px;
}
#search-bar .container #search-container div .search-card section #search-company-info h6 {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0 0;
}
#search-bar .container #search-container div .search-card section #search-company-info h6 span {
  font-size: 14px;
  font-weight: 800;
}
#search-bar .container #search-container div .search-card section #search-company-bottom {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#search-bar .container #search-container div .search-card section #search-company-bottom h4 {
  font-size: 10px;
  font-weight: 300;
}
#search-bar .container #search-container div .search-card section #search-company-bottom h3 {
  font-size: 12px;
  font-weight: 300;
}
#search-bar .container #search-container .ng-scope {
  margin: 0 19px 19px 0;
}
#search-bar .container #search-container .ng-scope:nth-child(4n) {
  margin-right: 0;
}
nav {
  background: #1E1E1E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
nav #nav-container {
  width: 1200px;
  margin: 0 auto;
}
nav #nav-container #nav-brand {
  display: inline-block;
}
nav #nav-container #nav-brand a svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 3px 0;
}
nav #nav-container #nav-navigation {
  display: inline-block;
}
nav #nav-container #nav-navigation ul {
  list-style: none;
}
nav #nav-container #nav-navigation ul li {
  display: inline;
  font-size: 14px;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-navigation ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-accounts {
  display: inline-block;
  float: right;
}
nav #nav-container #nav-accounts ul {
  list-style: none;
}
nav #nav-container #nav-accounts ul li {
  display: inline;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
nav #nav-container #nav-accounts ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-accounts #login {
  margin: 0 15px 0 0;
}
nav #nav-container #nav-accounts #register,
nav #nav-container #nav-accounts #profile-link {
  padding: 7px 25px 7px 25px;
  border-radius: 2px;
  background: #F20278;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
nav a:hover,
nav li:hover {
  color: #CBCBCB;
  transition: 0.3s ease-in;
}
header {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
header .container {
  height: 408px;
}
header .container #newsletter-signup {
  width: 350px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
}
header .container #newsletter-signup #lead-container {
  width: 301px;
  height: 338px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  background: #242424;
  color: #FFF;
  padding: 15px 15px 15px 15px;
}
header .container #newsletter-signup #lead-container #leads {
  margin: 0 0 10px 0;
  text-align: center;
  animation: fade-in-down 0.9s ease-in-out forwards;
}
header .container #newsletter-signup #lead-container #leads form {
  margin: 0 0 0 0;
}
header .container #newsletter-signup #lead-container #leads form #mc_embed_signup_scroll {
  display: flex;
  justify-content: left;
}
header .container #newsletter-signup #lead-container #leads form input {
  width: 150px;
  height: 28px;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  padding: 0 0 0 10px;
}
header .container #newsletter-signup #lead-container #leads form input[type="submit"] {
  width: 106px;
  height: 28px;
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 2px;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 11px;
  padding: 0 0 0 0;
  cursor: pointer;
}
header .container #newsletter-signup #lead-container hr {
  margin: 20px 0 15px 0;
  border: 1px solid #383838;
  border-bottom: 0;
}
header .container #newsletter-signup #lead-container h1 {
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 900;
}
header .container #newsletter-signup #lead-container h2 {
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 16px;
}
header .container #newsletter-signup #lead-container h2 span {
  font-weight: 900;
}
header .container #newsletter-signup #lead-container h3 {
  font-size: 12px;
  font-weight: 400;
}
header .container #newsletter-signup #lead-container ul {
  list-style: none;
  padding: 0 0 14px 0;
  margin-bottom: 0;
  opacity: .8;
}
header .container #newsletter-signup #lead-container ul li {
  margin: 0 0 10px 0;
  font-size: 13px;
  font-weight: 600;
}
header .container #newsletter-signup #lead-container #welcome-list {
  margin: 10px 0 30px 0;
}
header .container #newsletter-signup #lead-container a {
  padding: 7px 25px 7px 25px;
  border-radius: 2px;
  background: #F20278;
  font-weight: 700;
  font-size: 12px;
}
header .container #data-snapshot {
  width: 827px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  vertical-align: top;
  padding: 0 0 0 18px;
}
header .container #data-snapshot #snapshot-container h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
header .container #data-snapshot #snapshot-container h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container {
  margin: 12px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data {
  float: left;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card {
  display: inline-block;
  width: 398px;
  height: 50px;
  margin: 0 0 14.6px 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h1,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h2,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h3,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h4 {
  margin: 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div {
  display: inline-block;
  margin: 0 0 0 15px;
  width: 125px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h1 {
  font-size: 12px;
  font-weight: 400;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h1 span {
  font-size: 14px;
  font-weight: 800;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h2 {
  font-size: 10px;
  font-weight: 800;
  margin: 2px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section h3 {
  display: inline-block;
  font-size: 12px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section h4 {
  display: inline-block;
  font-size: 14px;
  margin: 0 15px 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph {
  float: right;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data {
  width: 370px;
  height: 178px;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data h2 {
  font-size: 14px;
  font-weight: 900;
  margin: 0 0 5px 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart {
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .xAxis path,
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .yAxis path,
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .xAxis line,
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .yAxis line {
  stroke: #FFF;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .xAxis text,
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .yAxis text {
  fill: #000;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data #compared-data-chart .xAxis g:nth-child(even) text {
  display: none;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data {
  width: 370px;
  height: 57px;
  margin: 19px 0 0 0;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data h2 {
  font-size: 14px;
  font-weight: 900;
  margin: 0 0 5px 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data p {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data p span {
  font-weight: 900;
}
#contact-header {
  background: #FCFCFC;
}
#contact-header .container {
  height: 440px;
}
#contact-header .container #contact-head h1 {
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 40px;
  font-weight: 900;
}
#contact-header .container #contact-head #contact-left {
  float: left;
}
#contact-header .container #contact-head #contact-right {
  float: right;
}
#contact-header .container #contact-head .contact-section {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  margin: 0 0 19px 0;
  padding: 15px 15px 15px 15px;
  width: 558px;
}
#contact-header .container #contact-head .contact-section h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 5px 0 5px 0;
}
#contact-header .container #contact-head .contact-section p {
  font-size: 16px;
  color: #242424;
  width: 450px;
}
#contact-header .container #contact-head .contact-section span {
  font-size: 14px;
  font-weight: 700;
}
#compare-header {
  background: #FCFCFC;
}
#compare-header .container {
  padding: 100px 0 100px 0;
  height: auto;
  position: relative;
}
#compare-header .container h1 {
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 40px;
  font-weight: 900;
}
#compare-header .container label {
  font-weight: 600;
}
#compare-header .container input {
  width: 1174px;
  height: 50px;
  padding: 0 0 0 20px;
  margin: 10px 0 0 0;
}
#compare-header .container #compare-dropdown-container {
  position: absolute;
  width: 100%;
}
#compare-header .container #compare-dropdown-container .compare-dropdown {
  margin: 0 0 0 0;
  padding: 5px 5px 5px 22px;
}
#compare-header .container #compare-dropdown-container .compare-dropdown:first-child {
  color: white;
  background: #8a8a8a;
}
main .container #filter-bar {
  width: 1180px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  padding: 10px 10px 10px 10px;
}
main .container #filter-bar h6 {
  margin: 0 5px 0 0;
  color: #FFF;
  display: inline-block;
}
main .container #filter-bar ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-block;
}
main .container #filter-bar ul li {
  color: #FFF;
  display: inline-block;
  margin: 0 7px 0 0;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
}
main .container #card-container {
  margin: 19px 0 19px 0;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .container #card-container div {
  display: inline-block;
}
main .container #card-container div #graph-card {
  width: 252.5px;
  height: 226px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
  position: relative;
}
main .container #card-container div #graph-card section {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .container #card-container div #graph-card section #home-company-link {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 0 15px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main .container #card-container div #graph-card section #home-company-top {
  width: 100%;
  height: 33%;
}
main .container #card-container div #graph-card section #home-company-top h3 {
  font-size: 10px;
  font-weight: 800;
  float: right;
}
main .container #card-container div #graph-card section #home-company-info {
  text-align: center;
  height: 33%;
}
main .container #card-container div #graph-card section #home-company-info h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 0 0;
  line-height: 30px;
}
main .container #card-container div #graph-card section #home-company-info h6 {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0 0;
}
main .container #card-container div #graph-card section #home-company-info h6 span {
  font-size: 14px;
  font-weight: 800;
}
main .container #card-container div #graph-card section #home-company-bottom {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
main .container #card-container div #graph-card section #home-company-bottom h4 {
  font-size: 10px;
  font-weight: 300;
}
main .container #card-container div #graph-card section #home-company-bottom h3 {
  font-size: 12px;
  font-weight: 300;
}
main .container #card-container div #graph-card #home-chart-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main .container #card-container .ng-scope {
  margin: 0 19px 19px 0;
}
main .container #card-container .ng-scope:nth-child(4n) {
  margin-right: 0;
}
@supports (display: flex) {
  main .container #card-container {
    display: flex;
  }
  main .container #card-container .ng-scope {
    margin: 0 0 19px 0;
  }
}
main#company {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
main#company .container {
  height: 731px;
}
main#company .container #company-info {
  width: 776px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
  vertical-align: top;
  padding: 0 19px 0 0;
}
main#company .container #company-info #company-numbers #company-facts {
  float: left;
  margin: 0 0 20px 0;
}
main#company .container #company-info #company-numbers #company-facts #company-name {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts h6 {
  margin: 0 20px 0 0;
  display: inline-block;
  padding: 5px 30px;
  color: #FFF;
  border-radius: 2px;
}
main#company .container #company-info #company-numbers #company-facts #company-industry {
  background: #00FFC9;
}
main#company .container #company-info #company-numbers #company-facts #company-location {
  background: #F20278;
}
main#company .container #company-info #company-numbers #company-facts #historical-acquisitions {
  color: #FFF;
  font-size: 24px;
  margin: 10px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts #chart-description {
  font-size: 12px;
  font-weight: 400;
  color: #A3A3A3;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance {
  float: right;
  text-align: right;
  color: #FFF;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation h1 {
  font-size: 30px;
  display: inline-block;
  margin: 17px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation span {
  font-weight: 400;
  font-size: 24px;
}
main#company .container #company-info #company-numbers #company-finance #company-look {
  white-space: pre-line;
  font-weight: 400;
  font-size: 20px;
}
main#company .container #company-acquisition-graph {
  width: 100%;
  height: 290px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  clear: both;
}
main#company .container #company-acquisition-graph #acquisition-history-chart {
  border-radius: 3px;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis path,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis path,
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis line,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis line {
  stroke: #1B1B1B;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis text,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis text {
  fill: white;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis text {
  text-transform: uppercase;
  font-weight: 300;
  text-anchor: start;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis g:nth-child(odd) text {
  font-size: 8px;
  stroke: #B9B9B9;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis g:nth-child(even) text {
  font-size: 11px;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis g:nth-child(even) text {
  stroke: #B9B9B9;
}
main#company .container #lower-data-container {
  margin: 19px 0 0 0;
}
main#company .container #lower-data-container #company-stock-graph {
  width: 53%;
  height: 211px;
  float: left;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #lower-data-container #company-stock-graph h1 {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-stock-graph h6 {
  font-size: 10px;
  font-weight: 400;
  margin: 5px 0 0 10px;
  opacity: .6;
}
main#company .container #lower-data-container #company-stock-graph h4 {
  float: right;
  font-size: 11px;
}
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .xAxis path,
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .yAxis path,
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .xAxis line,
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .yAxis line {
  stroke: #1B1B1B;
}
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .xAxis text,
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .yAxis text {
  fill: white;
}
main#company .container #lower-data-container #company-stock-graph #stock-history-chart .xAxis g:nth-child(even) text {
  stroke: #B9B9B9;
}
main#company .container #lower-data-container #company-recent-acqusitions {
  width: 44%;
  height: 211px;
  float: right;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #lower-data-container #company-recent-acqusitions h1 {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list {
  height: 50px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info {
  float: left;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info h2 {
  font-size: 16px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info h6 {
  font-weight: 400;
  margin: 5px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-price {
  float: right;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-price h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 10px 0 0;
}
main#company .container #company-prediction {
  width: 385px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  padding: 0 0 0 18px;
}
main#company .container #company-prediction h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
main#company .container #company-prediction #prediction-container {
  margin: 12px 0 0 0;
}
main#company .container #company-prediction #prediction-container #predictions {
  width: 359px;
  height: 67px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #predictions h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 5px 0;
}
main#company .container #company-prediction #prediction-container #predictions span {
  font-size: 14px;
  font-weight: 500;
}
main#company .container #company-prediction #prediction-container #predictions #prediction-company-number,
main#company .container #company-prediction #prediction-container #predictions #prediction-month-average {
  font-weight: 800;
}
main#company .container #company-prediction #prediction-container #historical-data {
  margin: 19px 0 0 0;
  width: 359px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #historical-data h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 0 0;
}
main#company .container #company-prediction #prediction-container #historical-data h4 {
  font-size: 14px;
  font-weight: 800;
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #historical-data h6 {
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #deal-container {
  margin: 19px 0 0 0;
  width: 359px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
  position: relative;
}
main#company .container #company-prediction #prediction-container #deal-container #deal-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin: -13px 0 0 0;
}
main#company .container #company-prediction #prediction-container #deal-container h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 5px 0;
}
main#company .container #company-prediction #prediction-container #deal-container h6 {
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #subscription-options,
main#company .container #company-prediction #prediction-container #track-company,
main#company .container #company-prediction #prediction-container #download-company {
  margin: 19px 0 0 0;
  width: 359px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #subscription-options h2,
main#company .container #company-prediction #prediction-container #track-company h2,
main#company .container #company-prediction #prediction-container #download-company h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 0 0;
}
main#company .container #company-prediction #prediction-container #subscription-options h5,
main#company .container #company-prediction #prediction-container #track-company h5,
main#company .container #company-prediction #prediction-container #download-company h5 {
  font-weight: 600;
  margin: 0 0 0 0;
}
#full-acquisition-list {
  padding: 25px 0 25px 0;
  color: #FFF;
}
#full-acquisition-list .container {
  position: relative;
  text-align: center;
}
#full-acquisition-list .container h1 {
  font-weight: 800;
  font-size: 25px;
  letter-spacing: .8px;
  margin: 0 0 30px 0;
  text-align: left;
}
#full-acquisition-list .container #acquisition-full {
  text-align: left;
}
#full-acquisition-list .container #acquisition-full div {
  display: inline-block;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info {
  width: 25%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info h2 {
  margin: 0 0 5px 0;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info h5 {
  font-weight: 400;
  margin: 0 0 0 0;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link {
  width: 10%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link h4 {
  font-size: 12px;
  font-weight: 300;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link h4 a {
  text-decoration: underline;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-price {
  width: 40%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-price h1 {
  font-size: 30px;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-industry {
  width: 25%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-industry h3 {
  font-size: 16px;
  text-align: right;
}
#full-acquisition-list .container span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
main#compare .container {
  color: #FFF;
}
main#compare .container #compare-container {
  margin: 19px 0 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main#compare .container #compare-container .compare-card {
  width: 355px;
  height: auto;
  color: white;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 10px 15px 0 15px;
}
main#compare .container #compare-container .compare-card hr {
  margin: 20px 0 15px 0;
  border: 1px solid #383838;
  border-bottom: 0;
}
main#compare .container #compare-container .compare-card .remove-card {
  font-size: 12px;
  font-weight: 300;
}
main#compare .container #compare-container .compare-card .compare-company-name {
  margin: 5px 0 10px 0;
  font-size: 35px;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
  height: 45px;
}
main#compare .container #compare-container .compare-card .compare-facts h6 {
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 30px;
  color: #FFF;
  border-radius: 2px;
}
main#compare .container #compare-container .compare-card .compare-facts .compare-industry {
  background: #00FFC9;
}
main#compare .container #compare-container .compare-card .compare-facts .compare-location {
  background: #F20278;
}
main#compare .container #compare-container .compare-card .compare-separator {
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0 15px 0;
}
main#compare .container #compare-container .compare-card .compare-separator h6 {
  margin: 0 0 10px 0;
}
main#compare .container #compare-container .compare-card .compare-separator h5,
main#compare .container #compare-container .compare-card .compare-separator span {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
main#compare .container #compare-container .compare-card-inital {
  height: 633px;
}
main#contact .container {
  color: #FFF;
}
main#contact .container h1 {
  margin: 19px 0 0 0;
}
main#contact .container h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 0 0;
}
main#contact .container #card-container .referal-card {
  width: 252.5px;
  height: 426px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
}
main#profile .container {
  color: #FFF;
}
main#profile .container #profile-container {
  margin: 19px 0 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main#profile .container #profile-container section {
  width: 100%;
}
main#profile .container #profile-container section #profile-section form #profile-news {
  float: right;
}
main#profile .container #profile-container section #profile-section #profile-acquisition-graph {
  width: 57%;
  float: left;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#profile .container #profile-container section #profile-section #profile-settings {
  width: 40%;
  height: 290px;
  float: right;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#profile .container #profile-container section #profile-section #profile-settings h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 0 0 0 0;
}
main#profile .container #profile-container section #profile-section #profile-settings .form-group h4 {
  font-size: 14px;
  font-weight: 800;
  margin: 5px 0 0 0;
}
main#profile .container #profile-container section #profile-section #profile-settings .form-group form {
  margin: 5px 0 0 0;
}
main#profile .container #profile-container section #profile-section #profile-settings .form-group form input {
  padding: 10px 0 10px 10px;
  width: 75%;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  margin: 2.5px 0 10px 0;
}
main#profile .container #profile-container section #tracked-companies-section #profile-tracked-companies #tracked-companies {
  display: inline-block;
  width: 25%;
}
main#profile .container #profile-container section #tracked-companies-section #profile-tracked-companies #tracked-companies .tracked-company {
  width: 100%;
  height: 125px;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#profile .container #profile-container section #downloaded-companies-section #profile-downloaded-companies .downloaded-company {
  width: 12.5%;
  height: 100px;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#profile #developer-tools-section {
  background: #FCFCFC;
  width: 100%;
  height: 400px;
}
main#profile #developer-tools-section .container {
  color: #000;
}
main#profile .profile-section-header h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 0 0;
  line-height: 30px;
}
main#profile .profile-section-header h6 {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0 0;
}
main#register {
  background: linear-gradient(180deg, #FCFCFC 41.4%, #1D1D1D 41.4%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.4% 0 10.4% 0;
}
main#register #register-header {
  text-align: center;
  margin: 0 0 19px 0;
}
main#register #register-header h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
main#register #register-header h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0 0;
}
main#register form {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 50px 0 0 0;
  width: 369px;
  text-align: center;
}
main#register form #register-twitter,
main#register form #register-google {
  padding: 23px 0 23px 15px;
  width: 250px;
  border-radius: 2px;
  background: #1dcaff;
  margin: 0 auto 10px auto;
}
main#register form #register-google {
  background: #dd4b39;
  margin: 0 auto 0 auto;
}
main#register form #register-separator {
  padding: 15px 0 15px 0;
  display: block;
}
main#register form .form-group {
  position: relative;
}
main#register form .form-group input {
  padding: 15px 0 15px 15px;
  width: 250px;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  margin: 0 0 10px 0;
}
main#register form h6 {
  margin: 5px 0 15px 0;
}
main#register form h6 a {
  color: #000;
}
main#register form button {
  width: 100%;
  border: 0;
  background: #F20278;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}
main#login,
main#forgot,
main#reset {
  background: linear-gradient(180deg, #FCFCFC 45%, #1D1D1D 45%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10.4% 0 10.4% 0;
}
main#login #login-header,
main#forgot #login-header,
main#reset #login-header,
main#login #reset-header,
main#forgot #reset-header,
main#reset #reset-header,
main#login #forgot-header,
main#forgot #forgot-header,
main#reset #forgot-header {
  text-align: center;
  margin: 0 0 19px 0;
}
main#login #login-header h1,
main#forgot #login-header h1,
main#reset #login-header h1,
main#login #reset-header h1,
main#forgot #reset-header h1,
main#reset #reset-header h1,
main#login #forgot-header h1,
main#forgot #forgot-header h1,
main#reset #forgot-header h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
main#login #login-header h6,
main#forgot #login-header h6,
main#reset #login-header h6,
main#login #reset-header h6,
main#forgot #reset-header h6,
main#reset #reset-header h6,
main#login #forgot-header h6,
main#forgot #forgot-header h6,
main#reset #forgot-header h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0 0;
}
main#login form,
main#forgot form,
main#reset form {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 50px 0 0 0;
  width: 369px;
  text-align: center;
}
main#login form #login-twitter,
main#forgot form #login-twitter,
main#reset form #login-twitter,
main#login form #login-google,
main#forgot form #login-google,
main#reset form #login-google,
main#login form #login-facebook,
main#forgot form #login-facebook,
main#reset form #login-facebook {
  padding: 23px 0 23px 15px;
  width: 250px;
  border-radius: 2px;
  background: #1dcaff;
  margin: 0 auto 10px auto;
}
main#login form #login-google,
main#forgot form #login-google,
main#reset form #login-google {
  background: #dd4b39;
  margin: 0 auto 0 auto;
}
main#login form #login-facebook,
main#forgot form #login-facebook,
main#reset form #login-facebook {
  background: blue;
}
main#login form #login-separator,
main#forgot form #login-separator,
main#reset form #login-separator {
  padding: 15px 0 15px 0;
  display: block;
}
main#login form .form-group,
main#forgot form .form-group,
main#reset form .form-group {
  position: relative;
}
main#login form .form-group input,
main#forgot form .form-group input,
main#reset form .form-group input {
  padding: 15px 0 15px 15px;
  width: 250px;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  margin: 0 0 10px 0;
}
main#login form h6,
main#forgot form h6,
main#reset form h6 {
  margin: 5px 0 15px 0;
}
main#login form h6 a,
main#forgot form h6 a,
main#reset form h6 a {
  color: #000;
}
main#login form button,
main#forgot form button,
main#reset form button {
  width: 100%;
  border: 0;
  background: #00FFC9;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}
footer {
  height: 50px;
  background: #000;
}
footer #footer-container {
  width: 1200px;
  margin: 0 auto;
}
footer #footer-container span {
  color: #FFF;
  font-size: 10px;
  display: inline-block;
  line-height: 48px;
}
footer #footer-container ul {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0;
  float: right;
  line-height: 48px;
}
footer #footer-container ul li {
  display: inline;
  font-size: 12px;
  margin: 0 5px 0 5px;
  color: white;
}
footer #footer-container ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
