@Lato: 'Lato', sans-serif;

.container {
	margin: auto;
	width: 1200px;
	position: relative;
}
.white-card-style {
	background: #FFFFFF;
	border: 1px solid rgba(106,106,106,0.50);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.17);
	border-radius: 3px;
}
.dark-card-style {
	background: #1B1B1B;
	border: 1px solid #383838;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
	border-radius: 3px;
	margin: 19px 0 0 0;
}
.dark-graph-style {
	background: #1B1B1B;
	border: 1px solid #383838;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.18);
	border-radius: 3px;
}

.disable-scroll {
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: @Lato;
	background: #191919;
}
a {
	color: white;
	text-decoration: none;
}
#search-bar {
	input {
		width: 100%;
		height: 60px;
		position: relative;
		z-index: 99999;
	}
	#lightbox {
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: #000;
		z-index: 9999;
		opacity: .7;
	}
}
nav {
	background: #1E1E1E;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.26);
	color: #FFFFFF;
	position: relative;
	z-index: 2;
	#nav-container {
		width: 1200px;
		margin: 0 auto;
		#nav-brand {
			display: inline-block;
			a {
				svg {
					display: inline-block;
					vertical-align: middle;
					padding: 0 0 3px 0;
				}
			}
		}
		#nav-navigation {
			display: inline-block;
			ul{
				list-style: none;
				li {
					display: inline;
					font-size: 14px;
					margin: 0 5px 0 5px;
					color: white;
					a {
						text-decoration: none;
						transition: .3s ease-in;
					}
				}
			}
		}
	}
	a:hover{
		color: #CBCBCB;
		transition: .3s ease-in;
	}
}
header {
	background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
	.container {
		height: 408px;
		#newsletter-signup {
			width: 350px;
			height: 100%;
			display: inline-block;
			background: #1D1D1D;
			div {
				width: 331px;
				height: 368px;
				.dark-card-style;
				background: #242424;
			}
		}
		#data-snapshot {
			width: 820px;
			height: 100%;
			display: inline-block;
			background: #FCFCFC;
			vertical-align: top;
			padding: 0 0 0 18px;
			#snapshot-container {
				h1 {
					font-weight: 800;
					font-size: 20px;
					letter-spacing: .8px;
					margin: 15px 0 0 0;
				}
				h6 {
					font-weight: 400;
					font-size: 12px;
					margin: 5px 0 0 0;
				}
				#data-container {
					margin: 12px 0 0 0;
					#recent-data {
						float: left;
						div {
							#update-card {
								display: inline-block;
								width: 398px;
								height: 50px;
								margin: 0 0 14.6px 0;
								position: relative;
								.white-card-style;
								h1 , h2 , h3 , h4 {
									margin: 0;
								}
								section {
									height: 100%;
									display: flex;
									align-items: center;
									justify-content: space-between;
									align-items: center;
									div {
										display: inline-block;
										margin: 0 0 0 15px;
										width: 125px;
										h1 {
											font-size: 12px;
											font-weight: 400;
											span {
												font-size: 14px;
												font-weight: 800;
											}
										}
										h2 {
											font-size: 10px;
											font-weight: 800;
											margin: 2px 0 0 0;
										}
									}
									h3 {
										display: inline-block;
										font-size: 12px;
									}
									h4 {
										display: inline-block;
										font-size: 14px;
										margin: 0 15px 0 0;
									}
								}
							}
						}
					}
					#recent-graph {
						float: right;
						#graph-data {
							width: 400px;
							height: 208px;
							.white-card-style;
						}
						#compared-data {
							width: 400px;
							height: 88px;
							margin: 19px 0 0 0;
							.white-card-style;
						}
					}
				}
			}
		}
	}
}
#contact-header {
	background: #FCFCFC;
	.container {
		height: 550px;
		#contact-head {
			h1 {
				margin: 0 0 0 0;
				padding: 10px 0 10px 0;
				font-size: 40px;
				font-weight: 900;
			}
			.contact-section {
				h2 {
					font-size: 22px;
					font-weight: 800;
					margin: 5px 0 5px 0;
				}
				p {
					font-size: 16px;
					color: #242424;
					width: 450px;
				}
				span {
					font-size: 14px;
					font-weight: 700;
				}
			}
		}
	}
}
#compare-header {
	background: #FCFCFC;
	.container {
		height: 150px;
		h1 {
			margin: 0 0 0 0;
			padding: 10px 0 10px 0;
			font-size: 40px;
			font-weight: 900;
		}
		input {
			width: 100%;
		}
	}
}
main {
	.container {
		#filter-bar {
			width: 100%;
			height: 51px;
			.dark-card-style;
		}
		#card-container {
			margin: 19px 0 19px 0;
			display: inline-block;
			justify-content: space-between;
			flex-wrap: wrap;
			div {
				display: inline-block;
				#graph-card {
					width: 252.5px;
					height: 226px;
					.dark-card-style;
					display: inline-block;
					margin: 0 0 0 0;
					padding: 0 15px 0 15px;
					section {
						color: #FFF;
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						position: relative;
						#home-company-link {
							position: absolute;
							width: 100%;
							z-index: 999;
							padding: 0 15px 0 15px;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						}
						#home-company-top {
							width: 100%;
							height: 33%;
							h3 {
								font-size: 10px;
								font-weight: 800;
								float: right;
							}
						}
						#home-company-info {
							text-align: center;
							height: 33%;
							h1 {
								font-size: 28px;
								font-weight: 800;
								margin: 0 0 0 0;
								line-height: 30px;
							}
							h6 {
								font-size: 12px;
								font-weight: 300;
								margin: 10px 0 0 0;
								span {
									font-size: 14px;
									font-weight: 800;
								}
							}
						}
						#home-company-bottom {
							width: 100%;
							height: 33%;
							display: flex;
							align-items: end;
							justify-content: space-between;
							h4 {
								font-size: 10px;
								font-weight: 300;
							}
							h3 {
								font-size: 12px;
								font-weight: 300;
							}
						}
					}
				}
			}
			.ng-scope {
				margin: 0 19px 19px 0;
			}
			.ng-scope:nth-child(4n) {
				margin-right: 0;
			}
		}
		@supports(display: flex) {
			#card-container {
				display: flex;
				.ng-scope {
					margin: 0 0 19px 0;
				}
			}
		}
	}
}
main#company {
	background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
	.container {
		height: 731px;
		#company-info {
			width: 776px;
			height: 100%;
			display: inline-block;
			background: #1D1D1D;
			vertical-align: top;
			padding: 0 19px 0 0;
			#company-numbers {
				#company-facts {
					float: left;
					margin: 0 0 20px 0;
					#company-name {
						color: #FFF;
						font-size: 48px;
						font-weight: 700;
						font-family: 'Poppins', sans-serif;
						margin: 5px 0 0 0;
					}
					h6 {
						margin: 0 20px 0 0;
						display: inline-block;
						padding: 5px 30px;
						color: #FFF;
						border-radius: 2px;
					}
					#company-industry {
						background: #00FFC9;
					}
					#company-location {
						background: #F20278;
					}
					#historical-acquisitions {
						color: #FFF;
						font-size: 24px;
						margin: 10px 0 0 0;
					}
					#chart-description {
						font-size: 12px;
						font-weight: 400;
						color: #A3A3A3;
						margin: 5px 0 0 0;
					}
				}
				#company-finance {
					float: right;
					text-align: right;
					color: #FFF;
					#company-valuation {
						h1 {
							font-size: 30px;
							display: inline-block;
							margin: 17px 0 0 0;
						}
						span {
							font-weight: 400;
							font-size: 24px;
						}
					}
					#company-look {
						white-space: pre-line;
						font-weight: 400;
						font-size: 20px;
					}
				}
			}
		}
		#company-acquisition-graph {
			width: 100%;
			height: 290px;
			.dark-graph-style;
			clear: both;
			#acquisition-history-chart {
				border-radius: 3px;
				.xAxis , .yAxis{
					path, line {
						stroke: #1B1B1B;
					}
					text {
						fill: white;
					}
				}
				.yAxis text{
					text-transform: uppercase;
					font-weight: 300;
					text-anchor: start;
				}
				.yAxis g:nth-child(odd) text{
					font-size: 8px;
					stroke: #B9B9B9
				}
				.yAxis g:nth-child(even) text{
					font-size: 11px;
				}
				.xAxis g:nth-child(even) text {
					stroke: #B9B9B9;
				}
			}
		}
		#lower-data-container {
			margin: 19px 0 0 0;
			#company-stock-graph {
				width: 53%;
				height: 211px;
				float: left;
				color: #FFF;
				.dark-graph-style;
				h1 {
					font-size: 20px;
					margin: 10px 0 0 10px;
				}
				h6 {
					font-size: 10px;
					font-weight: 400;
					margin: 5px 0 0 10px;
					opacity: .6;
				}
				h4 {
					float: right;
					font-size: 11px;
				}
			}
			#company-recent-acqusitions {
				width: 44%;
				height: 211px;
				float: right;
				color: #FFF;
				.dark-graph-style;
				h1 {
					font-size: 20px;
					margin: 10px 0 0 10px;
				}
				#acquisition-list {
					height: 50px;
					#acquisition-list-info {
						float: left;
						h2 {
							font-size: 16px;
							margin: 10px 0 0 10px;
						}
						h6 {
							font-weight: 400;
							margin: 5px 0 0 10px;
						}
					}
					#acquisition-list-price {
						float: right;
						h3 {
							font-size: 15px;
							font-weight: 500;
							margin: 15px 10px 0 0;
						}
					}
				}
			}
		}
		#company-prediction {
			width: 385px;
			height: 100%;
			display: inline-block;
			background: #FCFCFC;
			padding: 0 0 0 18px;
			h1 {
				font-weight: 800;
				font-size: 20px;
				letter-spacing: .8px;
				margin: 15px 0 0 0;
			}
			#prediction-container {
				margin: 12px 0 0 0;
				#predictions {
					width: 359px;
					height: 67px;
					.white-card-style;
					padding: 13px 13px 13px 13px;
					h2 {
						font-size: 17px;
						font-weight: 800;
						margin: 0 0 5px 0;
					}
					span {
						font-size: 14px;
						font-weight: 500;
					}
					#prediction-company-number , #prediction-month-average {
						font-weight: 800;
					}
				}
				#historical-data {
					margin: 19px 0 0 0;
					width: 359px;
					.white-card-style;
					padding: 13px 13px 13px 13px;
					h2 {
						font-size: 17px;
						font-weight: 800;
						margin: 0 0 0 0;
					}
					h4 {
						font-size: 14px;
						font-weight: 800;
						margin: 5px 0 0 0;
					}
					h6 {
						margin: 5px 0 0 0;
					}
				}
				#deal-container {
					margin: 19px 0 0 0;
					width: 359px;
					height: 43px;
					.white-card-style;
					padding: 13px 13px 13px 13px;
					position: relative;
					#deal-link {
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 9999;
						margin: -13px 0 0 0;
					}
					h2 {
						font-size: 17px;
						font-weight: 800;
						margin: 0 0 5px 0;
					}
					h6 {
						margin: 5px 0 0 0;
					}
				}
				#subscription-options {
					margin: 19px 0 0 0;
					width: 359px;
					.white-card-style;
					padding: 13px 13px 13px 13px;
					h2 {
						font-size: 17px;
						font-weight: 800;
						margin: 0 0 0 0;
					}
				}
			}
		}	
	}
}
#full-acquisition-list {
	padding: 25px 0 25px 0;
	color: #FFF;
	.container {
		position: relative;
		text-align: center;
		h1 {
			font-weight: 800;
			font-size: 25px;
			letter-spacing: .8px;
			margin: 0 0 30px 0;
			text-align: left;
		}
		#acquisition-full {
			text-align: left;
			div {
				display: inline-block;
			}
			#acquisition-full-info {
				width: 25%;
				h2 {
					margin: 0 0 5px 0;
				}
				h5 {
					font-weight: 400;
					margin: 0 0 0 0;
				}
			}
			#acquisition-full-link {
				width: 10%;
				h4 {
					font-size: 12px;
					font-weight: 300;
					a {
						text-decoration: underline;
					}
				}
			}
			#acquisition-full-price {
				width: 40%;
				h1 {
					font-size: 30px;
				}
			}
			#acquisition-full-industry {
				width: 25%;
				h3 {
					font-size: 16px;
					text-align: right;
				}
			}
		}
		span {
			display: inline-block;
			font-size: 14px;
			font-weight: 400;
			text-decoration: underline;
		}
	}
}
main#compare {
	.container {
		color: #FFF;
		#compare-container , #initial-compare{
			margin: 19px 0 19px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			.compare-card {
				width: 355px;
				height: 1026px;
				color: white;
				.dark-card-style;
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0 15px 0 15px;
			}
		}
	}
}
main#contact {
	.container {
		color: #FFF;
		h1 {
			margin: 19px 0 0 0;
		}
		h2 {
			font-size: 16px;
			font-weight: 400;
			margin: 5px 0 0 0;
		}
		#card-container {
			.referal-card {
				width: 252.5px;
				height: 426px;
				.dark-card-style;
				display: inline-block;
				margin: 0 0 0 0;
				padding: 0 15px 0 15px;
			}
		}
	}
}
footer {
	height: 50px;
	background: #000;
	#footer-container {
		width: 1200px;
		margin: 0 auto;
		span {
			color: #FFF;
			font-size: 14px;
			display: inline-block;
			line-height: 48px;
		}
		ul{
			list-style: none;
			display: inline-block;
			margin: 0 0 0 0;
			float: right;
			line-height: 48px;
			li {
				display: inline;
				font-size: 12px;
				margin: 0 5px 0 5px;
				color: white;
				a {
					text-decoration: none;
					transition: .3s ease-in;
				}
			}
		}
	}
}