.container {
  margin: auto;
  width: 1200px;
  position: relative;
}
.white-card-style {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
.dark-card-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
}
.dark-graph-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #191919;
}
a {
  color: white;
  text-decoration: none;
}
nav {
  background: #1E1E1E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
nav #nav-container {
  width: 1200px;
  margin: 0 auto;
}
nav #nav-container #nav-brand {
  display: inline-block;
}
nav #nav-container #nav-brand a svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 3px 0;
}
nav #nav-container #nav-navigation {
  display: inline-block;
}
nav #nav-container #nav-navigation ul {
  list-style: none;
}
nav #nav-container #nav-navigation ul li {
  display: inline;
  font-size: 14px;
  margin: 0 5px 0 5px;
  color: white;
}
nav #nav-container #nav-navigation ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
nav a:hover {
  color: #CBCBCB;
  transition: 0.3s ease-in;
}
header {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
header .container {
  height: 408px;
}
header .container #newsletter-signup {
  width: 350px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
}
header .container #newsletter-signup div {
  width: 331px;
  height: 368px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  background: #242424;
}
header .container #data-snapshot {
  width: 820px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  vertical-align: top;
  padding: 0 0 0 18px;
}
header .container #data-snapshot #snapshot-container h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
header .container #data-snapshot #snapshot-container h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container {
  margin: 12px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data {
  float: left;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card {
  display: inline-block;
  width: 398px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section div {
  display: inline-block;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section div h1 {
  font-size: 12px;
  font-weight: 400;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section div h1 span {
  font-size: 14px;
  font-weight: 800;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section div h2 {
  font-size: 10px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section h3 {
  display: inline-block;
  font-size: 12px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div update-card section h4 {
  display: inline-block;
  font-size: 14px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph {
  float: right;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data {
  width: 400px;
  height: 208px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data {
  width: 400px;
  height: 88px;
  margin: 19px 0 0 0;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
main .container #filter-bar {
  width: 100%;
  height: 51px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
}
main .container #card-container {
  margin: 19px 0 19px 0;
}
main .container #card-container div {
  display: inline-block;
}
main .container #card-container div graph-card {
  width: 285.75px;
  height: 226px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 19px 0 0;
}
main .container #card-container div graph-card section {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .container #card-container div graph-card section #home-company-top {
  width: 100%;
  height: 33%;
}
main .container #card-container div graph-card section #home-company-top h3 {
  font-size: 10px;
  font-weight: 800;
  float: right;
}
main .container #card-container div graph-card section #home-company-info {
  text-align: center;
  height: 33%;
}
main .container #card-container div graph-card section #home-company-info h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 0 0;
  line-height: 30px;
}
main .container #card-container div graph-card section #home-company-info h6 {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0 0 0;
}
main .container #card-container div graph-card section #home-company-info h6 span {
  font-size: 14px;
  font-weight: 800;
}
main .container #card-container div graph-card section #home-company-bottom {
  width: 100%;
  height: 33%;
}
main .container #card-container div graph-card section #home-company-bottom h4 {
  font-size: 10px;
  font-weight: 300;
  float: left;
}
main .container #card-container div graph-card section #home-company-bottom h3 {
  font-size: 12px;
  font-weight: 300;
  float: right;
}
main#company {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
main#company .container {
  height: 731px;
}
main#company .container #company-info {
  width: 776px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
  vertical-align: top;
  padding: 0 19px 0 0;
}
main#company .container #company-info #company-numbers #company-facts {
  float: left;
  margin: 0 0 20px 0;
}
main#company .container #company-info #company-numbers #company-facts #company-name {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts h6 {
  margin: 0 20px 0 0;
  display: inline-block;
  padding: 5px 30px;
  color: #FFF;
  border-radius: 2px;
}
main#company .container #company-info #company-numbers #company-facts #company-industry {
  background: #00FFC9;
}
main#company .container #company-info #company-numbers #company-facts #company-location {
  background: #F20278;
}
main#company .container #company-info #company-numbers #company-facts #historical-acquisitions {
  color: #FFF;
  font-size: 24px;
  margin: 10px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts #chart-description {
  font-size: 12px;
  font-weight: 400;
  color: #A3A3A3;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance {
  float: right;
  text-align: right;
  color: #FFF;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation h1 {
  font-size: 30px;
  display: inline-block;
  margin: 17px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation span {
  font-weight: 400;
  font-size: 24px;
}
main#company .container #company-info #company-numbers #company-finance span {
  font-weight: 400;
  font-size: 20px;
}
main#company .container #company-acquisition-graph {
  width: 100%;
  height: 290px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  clear: both;
}
main#company .container #lower-data-container {
  margin: 19px 0 0 0;
}
main#company .container #lower-data-container #company-stock-graph {
  width: 63%;
  height: 211px;
  float: left;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #lower-data-container #company-recent-acqusitions {
  width: 34%;
  height: 211px;
  float: right;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #company-prediction {
  width: 385px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  padding: 0 0 0 18px;
}
main#company .container #company-prediction h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
main#company .container #company-prediction #prediction-container {
  margin: 12px 0 0 0;
}
main#company .container #company-prediction #prediction-container #predictions {
  width: 385px;
  height: 108px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
main#company .container #company-prediction #prediction-container #historical-data {
  margin: 19px 0 0 0;
  width: 385px;
  height: 208px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
main#company .container #company-prediction #prediction-container #upcoming-prediction {
  margin: 19px 0 0 0;
  width: 385px;
  height: 73px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
#full-acquisition-list {
  padding: 25px 0 25px 0;
}
#full-acquisition-list .container h1 {
  color: #FFF;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: .8px;
  margin: 0 0 0 0;
}
footer {
  height: 155px;
  background: #000;
}
