.container {
  margin: auto;
  width: 1200px;
  position: relative;
}
.white-card-style {
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
.dark-card-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
}
.dark-graph-style {
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
.disable-scroll {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #191919;
}
a {
  color: white;
  text-decoration: none;
}
#search-bar input {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 99999;
}
#search-bar #lightbox {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 9999;
  opacity: .7;
}
nav {
  background: #1E1E1E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
nav #nav-container {
  width: 1200px;
  margin: 0 auto;
}
nav #nav-container #nav-brand {
  display: inline-block;
}
nav #nav-container #nav-brand a svg {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 3px 0;
}
nav #nav-container #nav-navigation {
  display: inline-block;
}
nav #nav-container #nav-navigation ul {
  list-style: none;
}
nav #nav-container #nav-navigation ul li {
  display: inline;
  font-size: 14px;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-navigation ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-accounts {
  display: inline-block;
  float: right;
}
nav #nav-container #nav-accounts ul {
  list-style: none;
}
nav #nav-container #nav-accounts ul li {
  display: inline;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
nav #nav-container #nav-accounts ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
nav #nav-container #nav-accounts #login {
  margin: 0 15px 0 0;
}
nav #nav-container #nav-accounts #register {
  padding: 7px 25px 7px 25px;
  border-radius: 2px;
  background: #F20278;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
nav a:hover,
nav li:hover {
  color: #CBCBCB;
  transition: 0.3s ease-in;
}
header {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
header .container {
  height: 408px;
}
header .container #newsletter-signup {
  width: 350px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
}
header .container #newsletter-signup div {
  width: 331px;
  height: 368px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  background: #242424;
}
header .container #data-snapshot {
  width: 827px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  vertical-align: top;
  padding: 0 0 0 18px;
}
header .container #data-snapshot #snapshot-container h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
header .container #data-snapshot #snapshot-container h6 {
  font-weight: 400;
  font-size: 12px;
  margin: 5px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container {
  margin: 12px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data {
  float: left;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card {
  display: inline-block;
  width: 398px;
  height: 50px;
  margin: 0 0 14.6px 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h1,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h2,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h3,
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card h4 {
  margin: 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div {
  display: inline-block;
  margin: 0 0 0 15px;
  width: 125px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h1 {
  font-size: 12px;
  font-weight: 400;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h1 span {
  font-size: 14px;
  font-weight: 800;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section div h2 {
  font-size: 10px;
  font-weight: 800;
  margin: 2px 0 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section h3 {
  display: inline-block;
  font-size: 12px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-data div #update-card section h4 {
  display: inline-block;
  font-size: 14px;
  margin: 0 15px 0 0;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph {
  float: right;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #graph-data {
  width: 400px;
  height: 208px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
header .container #data-snapshot #snapshot-container #data-container #recent-graph #compared-data {
  width: 400px;
  height: 88px;
  margin: 19px 0 0 0;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
}
#contact-header {
  background: #FCFCFC;
}
#contact-header .container {
  height: 550px;
}
#contact-header .container #contact-head h1 {
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 40px;
  font-weight: 900;
}
#contact-header .container #contact-head .contact-section h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 5px 0 5px 0;
}
#contact-header .container #contact-head .contact-section p {
  font-size: 16px;
  color: #242424;
  width: 450px;
}
#contact-header .container #contact-head .contact-section span {
  font-size: 14px;
  font-weight: 700;
}
#compare-header {
  background: #FCFCFC;
}
#compare-header .container {
  padding: 100px 0 100px 0;
  height: auto;
  position: relative;
}
#compare-header .container h1 {
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  font-size: 40px;
  font-weight: 900;
}
#compare-header .container label {
  font-weight: 600;
}
#compare-header .container input {
  width: 1174px;
  height: 50px;
  padding: 0 0 0 20px;
  margin: 10px 0 0 0;
}
#compare-header .container #compare-dropdown-container {
  position: absolute;
  width: 100%;
}
#compare-header .container #compare-dropdown-container .compare-dropdown {
  margin: 0 0 0 0;
  padding: 5px 5px 5px 22px;
}
#compare-header .container #compare-dropdown-container .compare-dropdown:first-child {
  color: white;
  background: #8a8a8a;
}
main .container #filter-bar {
  width: 100%;
  height: 51px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
}
main .container #card-container {
  margin: 19px 0 19px 0;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .container #card-container div {
  display: inline-block;
}
main .container #card-container div #graph-card {
  width: 252.5px;
  height: 226px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
}
main .container #card-container div #graph-card section {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .container #card-container div #graph-card section #home-company-link {
  position: absolute;
  width: 100%;
  z-index: 999;
  padding: 0 15px 0 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main .container #card-container div #graph-card section #home-company-top {
  width: 100%;
  height: 33%;
}
main .container #card-container div #graph-card section #home-company-top h3 {
  font-size: 10px;
  font-weight: 800;
  float: right;
}
main .container #card-container div #graph-card section #home-company-info {
  text-align: center;
  height: 33%;
}
main .container #card-container div #graph-card section #home-company-info h1 {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 0 0;
  line-height: 30px;
}
main .container #card-container div #graph-card section #home-company-info h6 {
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0 0 0;
}
main .container #card-container div #graph-card section #home-company-info h6 span {
  font-size: 14px;
  font-weight: 800;
}
main .container #card-container div #graph-card section #home-company-bottom {
  width: 100%;
  height: 33%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
main .container #card-container div #graph-card section #home-company-bottom h4 {
  font-size: 10px;
  font-weight: 300;
}
main .container #card-container div #graph-card section #home-company-bottom h3 {
  font-size: 12px;
  font-weight: 300;
}
main .container #card-container .ng-scope {
  margin: 0 19px 19px 0;
}
main .container #card-container .ng-scope:nth-child(4n) {
  margin-right: 0;
}
@supports (display: flex) {
  main .container #card-container {
    display: flex;
  }
  main .container #card-container .ng-scope {
    margin: 0 0 19px 0;
  }
}
main#company {
  background: linear-gradient(-90deg, #FCFCFC 50%, #1D1D1D 50%);
}
main#company .container {
  height: 731px;
}
main#company .container #company-info {
  width: 776px;
  height: 100%;
  display: inline-block;
  background: #1D1D1D;
  vertical-align: top;
  padding: 0 19px 0 0;
}
main#company .container #company-info #company-numbers #company-facts {
  float: left;
  margin: 0 0 20px 0;
}
main#company .container #company-info #company-numbers #company-facts #company-name {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts h6 {
  margin: 0 20px 0 0;
  display: inline-block;
  padding: 5px 30px;
  color: #FFF;
  border-radius: 2px;
}
main#company .container #company-info #company-numbers #company-facts #company-industry {
  background: #00FFC9;
}
main#company .container #company-info #company-numbers #company-facts #company-location {
  background: #F20278;
}
main#company .container #company-info #company-numbers #company-facts #historical-acquisitions {
  color: #FFF;
  font-size: 24px;
  margin: 10px 0 0 0;
}
main#company .container #company-info #company-numbers #company-facts #chart-description {
  font-size: 12px;
  font-weight: 400;
  color: #A3A3A3;
  margin: 5px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance {
  float: right;
  text-align: right;
  color: #FFF;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation h1 {
  font-size: 30px;
  display: inline-block;
  margin: 17px 0 0 0;
}
main#company .container #company-info #company-numbers #company-finance #company-valuation span {
  font-weight: 400;
  font-size: 24px;
}
main#company .container #company-info #company-numbers #company-finance #company-look {
  white-space: pre-line;
  font-weight: 400;
  font-size: 20px;
}
main#company .container #company-acquisition-graph {
  width: 100%;
  height: 290px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  clear: both;
}
main#company .container #company-acquisition-graph #acquisition-history-chart {
  border-radius: 3px;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis path,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis path,
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis line,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis line {
  stroke: #1B1B1B;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis text,
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis text {
  fill: white;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis text {
  text-transform: uppercase;
  font-weight: 300;
  text-anchor: start;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis g:nth-child(odd) text {
  font-size: 8px;
  stroke: #B9B9B9;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .yAxis g:nth-child(even) text {
  font-size: 11px;
}
main#company .container #company-acquisition-graph #acquisition-history-chart .xAxis g:nth-child(even) text {
  stroke: #B9B9B9;
}
main#company .container #lower-data-container {
  margin: 19px 0 0 0;
}
main#company .container #lower-data-container #company-stock-graph {
  width: 53%;
  height: 211px;
  float: left;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #lower-data-container #company-stock-graph h1 {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-stock-graph h6 {
  font-size: 10px;
  font-weight: 400;
  margin: 5px 0 0 10px;
  opacity: .6;
}
main#company .container #lower-data-container #company-stock-graph h4 {
  float: right;
  font-size: 11px;
}
main#company .container #lower-data-container #company-recent-acqusitions {
  width: 44%;
  height: 211px;
  float: right;
  color: #FFF;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
}
main#company .container #lower-data-container #company-recent-acqusitions h1 {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list {
  height: 50px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info {
  float: left;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info h2 {
  font-size: 16px;
  margin: 10px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-info h6 {
  font-weight: 400;
  margin: 5px 0 0 10px;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-price {
  float: right;
}
main#company .container #lower-data-container #company-recent-acqusitions #acquisition-list #acquisition-list-price h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 15px 10px 0 0;
}
main#company .container #company-prediction {
  width: 385px;
  height: 100%;
  display: inline-block;
  background: #FCFCFC;
  padding: 0 0 0 18px;
}
main#company .container #company-prediction h1 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: .8px;
  margin: 15px 0 0 0;
}
main#company .container #company-prediction #prediction-container {
  margin: 12px 0 0 0;
}
main#company .container #company-prediction #prediction-container #predictions {
  width: 359px;
  height: 67px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #predictions h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 5px 0;
}
main#company .container #company-prediction #prediction-container #predictions span {
  font-size: 14px;
  font-weight: 500;
}
main#company .container #company-prediction #prediction-container #predictions #prediction-company-number,
main#company .container #company-prediction #prediction-container #predictions #prediction-month-average {
  font-weight: 800;
}
main#company .container #company-prediction #prediction-container #historical-data {
  margin: 19px 0 0 0;
  width: 359px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #historical-data h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 0 0;
}
main#company .container #company-prediction #prediction-container #historical-data h4 {
  font-size: 14px;
  font-weight: 800;
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #historical-data h6 {
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #deal-container {
  margin: 19px 0 0 0;
  width: 359px;
  height: 43px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
  position: relative;
}
main#company .container #company-prediction #prediction-container #deal-container #deal-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  margin: -13px 0 0 0;
}
main#company .container #company-prediction #prediction-container #deal-container h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 5px 0;
}
main#company .container #company-prediction #prediction-container #deal-container h6 {
  margin: 5px 0 0 0;
}
main#company .container #company-prediction #prediction-container #subscription-options {
  margin: 19px 0 0 0;
  width: 359px;
  background: #FFFFFF;
  border: 1px solid rgba(106, 106, 106, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  padding: 13px 13px 13px 13px;
}
main#company .container #company-prediction #prediction-container #subscription-options h2 {
  font-size: 17px;
  font-weight: 800;
  margin: 0 0 0 0;
}
#full-acquisition-list {
  padding: 25px 0 25px 0;
  color: #FFF;
}
#full-acquisition-list .container {
  position: relative;
  text-align: center;
}
#full-acquisition-list .container h1 {
  font-weight: 800;
  font-size: 25px;
  letter-spacing: .8px;
  margin: 0 0 30px 0;
  text-align: left;
}
#full-acquisition-list .container #acquisition-full {
  text-align: left;
}
#full-acquisition-list .container #acquisition-full div {
  display: inline-block;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info {
  width: 25%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info h2 {
  margin: 0 0 5px 0;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-info h5 {
  font-weight: 400;
  margin: 0 0 0 0;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link {
  width: 10%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link h4 {
  font-size: 12px;
  font-weight: 300;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-link h4 a {
  text-decoration: underline;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-price {
  width: 40%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-price h1 {
  font-size: 30px;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-industry {
  width: 25%;
}
#full-acquisition-list .container #acquisition-full #acquisition-full-industry h3 {
  font-size: 16px;
  text-align: right;
}
#full-acquisition-list .container span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}
main#compare .container {
  color: #FFF;
}
main#compare .container #compare-container {
  margin: 19px 0 19px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
main#compare .container #compare-container .compare-card {
  width: 355px;
  height: auto;
  color: white;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 10px 15px 0 15px;
}
main#compare .container #compare-container .compare-card .remove-card {
  font-size: 12px;
  font-weight: 300;
}
main#compare .container #compare-container .compare-card .compare-company-name {
  margin: 5px 0 10px 0;
  font-size: 35px;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
  height: 45px;
}
main#compare .container #compare-container .compare-card .compare-facts h6 {
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 30px;
  color: #FFF;
  border-radius: 2px;
}
main#compare .container #compare-container .compare-card .compare-facts .compare-industry {
  background: #00FFC9;
}
main#compare .container #compare-container .compare-card .compare-facts .compare-location {
  background: #F20278;
}
main#compare .container #compare-container .compare-card .compare-separator {
  padding: 10px 10px 10px 10px;
  border: 1px solid #383838;
  border-radius: 4px;
  text-align: center;
  margin: 15px 0 15px 0;
}
main#compare .container #compare-container .compare-card .compare-separator h6 {
  margin: 0 0 10px 0;
}
main#compare .container #compare-container .compare-card .compare-separator h5,
main#compare .container #compare-container .compare-card .compare-separator span {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px 0;
}
main#compare .container #compare-container .compare-card-inital {
  height: 633px;
}
main#contact .container {
  color: #FFF;
}
main#contact .container h1 {
  margin: 19px 0 0 0;
}
main#contact .container h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 0 0;
}
main#contact .container #card-container .referal-card {
  width: 252.5px;
  height: 426px;
  background: #1B1B1B;
  border: 1px solid #383838;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  border-radius: 3px;
  margin: 19px 0 0 0;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 15px 0 15px;
}
footer {
  height: 50px;
  background: #000;
}
footer #footer-container {
  width: 1200px;
  margin: 0 auto;
}
footer #footer-container span {
  color: #FFF;
  font-size: 14px;
  display: inline-block;
  line-height: 48px;
}
footer #footer-container ul {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0;
  float: right;
  line-height: 48px;
}
footer #footer-container ul li {
  display: inline;
  font-size: 12px;
  margin: 0 5px 0 5px;
  color: white;
}
footer #footer-container ul li a {
  text-decoration: none;
  transition: 0.3s ease-in;
}
